.img{
width:50rem !important;
height:50rem !important;
}
a{ 
    text-decoration: none !important;
    color:blue !important;
}
ul {
    list-style-type: none;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
