
            <img src="image.png" alt="logo" class="img logo-sm p-3">
            <div class="nav" id="navbarNav">
                <a href="novaCategoria.html" class="nav item nav-link text-light">Nova categoria</a>        
            <a href="index.html" class="nav item nav-link text-light left">Cardápio</a>
            <img src="sair.png" class="nav-item nav-link">
        </div>
            
        </div>
        </div>
        <div class="container w-50 p-5">
            
            <h1 class="text-light">Novo Produto</h1>
            <form method="post">
                <div class="form-group">
                    <input type="file" name="img" id="img" class="form-control bg-dark btn btn-warning">
                    <select name="categoria" id="categoria">           
                        <option value="1">Pizza</option>
                    </select>
                    <input type="text" class="form-control bg-dark text-light" id="nome" name="nome">                  
                    <input type="text" class="form-control bg-dark text-light" id="preco" name="preco">                   
                    <input type="text" class="form-control bg-dark text-light" id="descricao" name="descricao">
                    <input type="submit" value="Cadastrar" class="btn btn-success w-100">
