* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .content{
    width: 75%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-bottom: 3rem;
    direction: right;
  }
  .content h1{
    margin:5px;
  }
  /* Header and Footer Styles */
  .header, .footer {
    background-color: gray;
    color: white;
    padding: 1.5rem; /* 15px converted to rem unit */
  }
  
  /* Column Styles */
  .column {
    float: left;
    padding: 1.5rem; /* 15px converted to rem unit */
  }
  
  /* Clearfix Styles */
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Menu Styles */
  .menu {
    width: 25%;
  }
  
  .menu ul {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0; /* added to remove default padding */
  }
  
  .menu li {
    padding: 1.5rem; /* 15px converted to rem unit */
    cursor: pointer;
    margin-bottom: 0.8rem; /* 8px converted to rem unit */
    background-color: #920b69; /* purple color in hex notation */
    color: #fff;
  }
  
  .menu li:hover {
    background-color: #4e0137; /* rgb color converted to hex notation */
  }