img {
    float:left;
    margin:0 10px 10px 10px;
}
.div1{
    float:left;
    margin:10px;
    width:100px;
    height:100px;
    border:1px solid #73AD21;
}
.div2{
    float:left;
    border:1px solid red;
}
.div3{
    clear:left;
    margin:10px;   
    width:100px;
    height:100px;
    border:1px solid #73AD21;
}
.div4{
    clear:left;
    border:1px solid red;
}
.mg {
    padding-bottom:50px;
}
h2{
    text-align:center;
}
div{
    border:3px solid blue;
}
.img1{
    float:right;
}

.clearfi{
    overflow:auto;
}
.img2{
    float:right
}