.lateral{
    float:left;
    border-right:1px solid white;
    overflow: auto;
    width:15% !important;
    background-color: #373738;
}
.lateral li{
    color:white;
    list-style: none;
    padding:20px;
}
.lateral li:hover{
    background-color: gray;
    color:white;
}
.block{
    border-bottom:1px solid white;
}
.icon{
    width:5rem;
    cursor:pointer;
}
.low{
    padding-top:15px;
}
.bg-blac{
    background-color:lightgray;
    border-end-end-radius: 25%;
    border-start-end-radius: 25%;
}
.icon-sm{
    width:1.5rem;
    margin:5px;
    cursor:pointer;
}
.circle{
    border-radius: 100%;
    background-color:gray;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
}
.navboard{
    width:50%;
    height:5rem;
    display: flex;
    align-items: center;
}
.search-bar{
    width:50% !important;
    height:2rem;
    border-bottom-left-radius: 35%;
}
.icon-area{
    width:100%;
    height:100%;
    border-bottom:1px solid white;
}
.big-badge{
    padding:5px !important;
    margin:0 10px 0 10px;
    padding-right:2rem;
    background-color: #373738;
    border-radius: 20%;;
}
.big-badge h5{
    font-size:medium;
}
.big-badge:hover{
    background-color: #636364; 
    cursor:pointer;
}