      <div class="logo w-100 mb-5 text-center">
                <img src="image.png" class="logo" alt="logo">
            </div>
            <form method="post" action="/cadastra" id="contactForm"> 
                <div class="mb-3">
                    <input type="text" name="nome" placeholder="Nome da Empresa" class="form-control" required>
                </div>
                <div class="mb-3">
                    <input type="email" name="email" placeholder="Email" class="form-control" required>
                </div>
                <div class="mb-3">
                    <input type="password" name="senha" placeholder="Senha" class="form-control" required>
                </div>
                <div class="mb-5 text-center">
                    <button type="submit" class="btn btn-danger w-100">Cadastrar</button>
                </div>
                <a href="/" class="text-light text-center d-block">Já possuo conta</a>
            </form>
            <div id="pizzas" class="mt-5"></div> <!-- Contêiner para exibir as pizzas -->
        </div>
</div>
</body>
</html>
