
            <div class="logo mb-5 w-100 text-center">
                <img src="D:\XAMPP2\htdocs\Senai\projeto_final\views\image.png" class="logo" alt="logo"/>
            </div>
            <form method="post" id="contactForm"> 
                <div class="mb-3">
                    <input type="email" name="email" placeholder="Email" class="form-control"/>
                </div>
                <div class="mb-3">
                    <input type="password" name="senha" placeholder="Senha" class="form-control"/>
                </div>
                <div class="mb-5">
                    <input type="submit" class="btn btn-danger w-100">Entrar</button>
                </div>
                <a href="cadastro.html" class="text-light text-center">Registrar minha empresa</a>
            </form>