
            <img src="image.png" alt="logo" class="img logo">
            <div class="nav" id="navbarNav">
                <a href="/novaCateg" class="nav item nav-link text-light">Nova categoria</a>        
            <a href="/novoProd" class="nav item nav-link text-light left">Novo Produto</a>
            <a href="/logout"><img src="sair.png" class="nav-item nav-link"></a>
        </div>
            
        </div>
        </div>
        <div class="container w-50">
            <div class="row">
                <div class="col w-60">
                    <h1 class="text-light">Produtos</h1>
                    {{#each produtos}}
                    <div class="card bg-dark text-light m-3">
                        <h5 class="card-header">{{this.nome}}</h5>
                    </div>
                    {{/each}}
                </div>
            <div class="col w-60">
            <h1 class="text-light">Novo Produto</h1>
            <form method="post">
                <div class="form-group">
                    <input type="file" name="img" id="img" class="form-control bg-dark btn btn-warning">
                    <select name="categoria" id="categoria">    
                        {{#each categorias}}       
                        <option value="1">{{this.nome}}</option>
                        {{/each}}
                    </select>
                    <input type="text" class="form-control bg-dark text-light" id="nome" name="nome">                  
                    <input type="text" class="form-control bg-dark text-light" id="preco" name="preco">                   
                    <input type="text" class="form-control bg-dark text-light" id="descricao" name="descricao">
                    <input type="submit" value="Cadastrar" class="btn btn-success w-100">
            </div>